# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64

# Python
*.pyc

#Inventor
/Mechanics/myCopter_CAD/Inventor/OldVersions/*
/Mechanics/myCopter_CAD/Inventor/Misc/OldVersions/*
*.lck

# Codelite
*.mk
*mavric.map
*-DBOARD*
*.codelite
*Debug_Linux
*Release_Linux

#Atmel Studio
/LEQuad/Release/*